li {
    list-style-type: none;
}

ul.horizontal_menu li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
}

.app-tabs {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1 1 100%;
    z-index: 51;
    background: #ececec;
    list-style-type: none;
}

.app-tabs__tab {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    transition: color 100ms, opacity 100ms, border-color 100ms;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .55;
    color: #565656;
    border-bottom: 1px solid black;
    width: 50px;
    list-style-type: none;
    cursor: pointer;
}

.app-tabs__tab.active {
    opacity: 1;
}

div.app-tabs__container {
    margin: 5px;
    border: #a8a8a8 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.display-none {
    display: none;
}

.icon {
    margin: 5px;
    display: inline;
    cursor: pointer;
}

.list-entry {
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 5px;
    margin-top: 5px;
}

.list-entry:hover {
    background-color: #ddd;
}

.list-entry > span {
    margin-left: 5px;
}

.fa-trash:hover {
    color: red;
}

#content_structure {
    text-align: center;
}

#edit_player_group, #add_player_group {
    padding: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=date] {
    margin: 5px;
}
